# Copyright (c) 2004-2015 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Unit]
Description=Parallels Tools OpenGL switcher
Before=display-manager.service
After=prltools_updater.service

[Service]
Type=oneshot
ExecStart=/usr/lib/parallels-tools/installer/prl-x11_sysv.sh start

[Install]
WantedBy=multi-user.target
